@tailwind base;
@tailwind components;
@tailwind utilities;
html{
  background-color: black;
}
.Toastify {
    position: fixed !important;
    z-index: 9999;
    pointer-events: none; /* Prevents it from interacting with clicks on other elements */
  }
  